<body>
    <header>
        <div class="fixed-top" style="background-color: black;">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style=" color: white; font-size: 50px; font-family: 'Brush Script MT'">Own Shop Manage</a>
                </div>
            </nav>
        
        </div>
    </header>
    <div class="container">
        <main style="margin-top: 8% margin;  margin-bottom: 8%"> 
            <h1 id="h1"> Les boutiques </h1>
        </main>

    </div>
    <footer class="border-top footer text-muted" style="bottom:0; position: fixed; width : 100%; background-color: black; height: 8%;">
        <div class="body-container">
             <h2 style="margin-top: 10px; text-align: center; color: white; font-family: 'Brush Script MT'; font-size: 50px">Own Shop Mnage</h2> 
            
        </div>
        
    </footer>
</body>
