<body>
  <header>
      <div class="fixed-top" style="background-color: black;">
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
              <div class="container-fluid">
                  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style=" color: white; font-size: 50px; font-family: 'Brush Script MT'">Own Shop Manage</a>
              </div>
          </nav>
      
      </div>
  </header>
    <form class="form">
    <h1> 
  Ajouter un produit
    </h1>
  
  <form [formGroup]="produitForm" (ngSubmit)="onSubmit()">
    <mat-form-field  appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput [formControl]="nom"  placeholder="Nom" id="label">
    </mat-form-field>
    <br>
    <mat-form-field  appearance="fill">
    <mat-label>description</mat-label>
    <input matInput [formControl]="description"  placeholder="Description" id="label">
  </mat-form-field>
  <br>
  <mat-form-field  appearance="fill">
  <mat-label>categrorie</mat-label>
  <input matInput [formControl]="categorie"  placeholder="Catégorie" id="label">
  </mat-form-field>
  <br>
  <mat-form-field  appearance="fill">
    <mat-label>prix</mat-label>
    <input matInput [formControl]="prix"  placeholder="Prix" id="label">
    </mat-form-field>
    <br>

  
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close id="null">Annuler</button>
      <button mat-button type="submit" id="add">Ajouter</button> 
    </mat-dialog-actions>
  
  </form> 
</form>
  <footer class="border-top footer text-muted" style="bottom:0; position: fixed; width : 100%; background-color: black; height: 8%;">
    <div class="body-container">
         <h2 style="margin-top: 10px; text-align: center; color: white; font-family: 'Brush Script MT'; font-size: 50px">Own Shop Mnage</h2> 
        
    </div>
    
</footer>
</body>